[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
ipython = "*"
django-debug-toolbar = "*"
"django-bootstrap3" = "*"
django-multiselectfield = "*"


[dev-packages]

